In [15]:
import pandas as pd 
import numpy as np 



defunciones = pd.read_csv(
    "data/defunciones_2016-2021.csv" 
)

defunciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275567 entries, 0 to 275566
Data columns (total 27 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Año                        275567 non-null  int64
 1   Fecha_def                  275567 non-null  object
 2   Sexo                       275567 non-null  object
 3   Edad                       275567 non-null  int64
 4   Edad_num                   275567 non-null  int64
 5   Cod_com_res                275567 non-null  int64
 6   Com_resi                   275567 non-null  object
 7   Reg_resi                   275567 non-null  object
 8   Causa_bas_def              275567 non-null  object
 9   CAPITULO_DIAG1             275567 non-null  object
 10  GLOSA_CAPITULO_DIAG1       275567 non-null  object
 11  CODIGO_GRUPO_DIAG1         275567 non-null  object
 12  GLOSA_GRUPO_DIAG1          275567 non-null  object
 13  CODIGO_CATEGORIA_DIAG1     275567 non-null  object
 14  GLOSA_CATEGORIA_DIAG1      275567 non-null  object
 15  CODIGO_SUBCATEGORIA_DIAG1  275567 non-null  object
 16  GLOSA_SUBCATEGORIA_DIAG1   275567 non-null  object
 17  DIAG2                      75805 non-null   object
 18  CAP_DIAG2                  18604 non-null   object
 19  GLOSA_CAPITULO_DIAG2       18604 non-null   object
 20  CODIGO_GRUPO_DIAG2         18604 non-null   object
 21  GLOSA_GRUPO_DIAG2          18604 non-null   object
 22  CODIGO_CATEGORIA_DIAG2     18604 non-null   object
 23  GLOSA_CATEGORIA_DIAG2      18604 non-null   object
 24  CODIGO_SUBCATEGORIA_DIAG2  18604 non-null   object
 25  GLOSA_SUBCATEGORIA_DIAG2   18604 non-null   object
 26  lugar_def                  275567 non-null  object
dtypes: int64(4), object(23)
memory usage: 56.8+ MB

### Mostrar por pantalla la edad media de las mujeres que fallecieron por causa I219.

In [16]:
data = defunciones.loc[defunciones.loc[:, 'Causa_bas_def'] == 'I219']
grouped= data.groupby(['Causa_bas_def','Sexo'])['Edad_num'].mean().unstack()['Mujer']
grouped

Causa_bas_def
I219    78.156592
Name: Mujer, dtype: float64

### Mostrar por pantalla la cantidad de personas que fallecieron por la causa I219 en la región De Arica y Parinacota.

In [17]:
data = defunciones.loc[defunciones.loc[:, 'Causa_bas_def'] == 'I219']
data = data.loc[data.loc[:, 'Reg_resi'] == 'De Arica y Parinacota']
grouped= data.groupby(['Causa_bas_def','Reg_resi'])['Reg_resi'].count()
grouped

Causa_bas_def  Reg_resi
I219           De Arica y Parinacota    128
Name: Reg_resi, dtype: int64

In [18]:

muestra = defunciones.sample(frac=0.3);
muestra.to_csv('archivo.csv', index=False)