In [81]:
import pandas as pd 
import numpy as np 


# shootouts = pd.read_csv(
#     "data/shootouts.csv",
# )

# results = pd.read_csv(
#     "data/results.csv",
# )

defunciones = pd.read_csv(
    "data/defunciones_2016-2021_deis.csv",
    index_col ="Unnamed: 0"
)

defunciones.head(5)

,Año,Fecha_def,Sexo,Edad,Edad_num,Cod_com_res,Com_resi,Reg_resi,Causa_bas_def,CAPITULO_DIAG1,...,DIAG2,CAP_DIAG2,GLOSA_CAPITULO_DIAG2,CODIGO_GRUPO_DIAG2,GLOSA_GRUPO_DIAG2,CODIGO_CATEGORIA_DIAG2,GLOSA_CATEGORIA_DIAG2,CODIGO_SUBCATEGORIA_DIAG2,GLOSA_SUBCATEGORIA_DIAG2,lugar_def
0,2021,2021-06-01,Hombre,1,50,13110,La Florida,Metropolitana de Santiago,I219,I00-I99,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hospital o Clínica
1,2021,2021-05-29,Hombre,1,31,13301,Colina,Metropolitana de Santiago,B208,A00-B99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hospital o Clínica
2,2021,2021-06-02,Hombre,1,39,6101,Rancagua,Del Libertador B. O'Higgins,R960,R00-R99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Otro
3,2021,2021-06-01,Mujer,1,58,13129,San Joaquín,Metropolitana de Santiago,C539,C00-D48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Casa habitación
4,2021,2021-05-27,Hombre,1,46,15101,Arica,De Arica y Parinacota,I219,I00-I99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Casa habitación

### Mostrar por pantalla la edad media de las mujeres que fallecieron por causa I219.

In [89]:
data = defunciones.loc[defunciones.loc[:, 'Causa_bas_def'] == 'I219']
grouped= data.groupby(['Causa_bas_def','Sexo'])['Edad_num'].mean().unstack()['Mujer']
grouped

Causa_bas_def
I219    78.338132
Name: Mujer, dtype: float64

### Mostrar por pantalla la cantidad de personas que fallecieron por la causa I219 en la región De Arica y Parinacota.

In [101]:
data = defunciones.loc[defunciones.loc[:, 'Causa_bas_def'] == 'I219']
data = data.loc[data.loc[:, 'Reg_resi'] == 'De Arica y Parinacota']
grouped= data.groupby(['Causa_bas_def','Reg_resi'])['Reg_resi'].count()
grouped

Causa_bas_def  Reg_resi
I219           De Arica y Parinacota    362
Name: Reg_resi, dtype: int64