In [10]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as ply 


data = pd.read_csv(
    "data/tabernas_meteo_data.txt",
    delim_whitespace = True,
    usecols = (0,2,3,4,5),
    skiprows = 2,
    names = ['DATE', 'TMAX', 'TMIN', 'TMED', 'PRECIP'],
    parse_dates = ['DATE'],
    dayfirst = True,
    index_col = ['DATE'],
)

data

            TMAX  TMIN  TMED  PRECIP
DATE
2016-12-13  14.6   4.0   8.9     0.2
2016-12-12  15.9   3.0   8.7     0.2
2016-12-11  16.9   5.0  10.2     0.2
2016-12-10  16.4   6.3  10.9     0.2
2016-12-09  13.6   9.5  11.2     1.8
...          ...   ...   ...     ...
2004-01-05  16.4   0.6   7.1     0.0
2004-01-04  16.2  -0.4   7.2     0.0
2004-01-03  15.1   0.8   7.9     0.0
2004-01-02  17.4   5.7  10.6     0.0
2004-01-01  18.0   2.5  11.1     0.0

[4732 rows x 4 columns]

In [2]:
print("asdfs")

asdfs