In [4]:
import pandas as pd 
import numpy as np 
import datetime as dt

1. Genere un script que pregunte al usuario por montos de ventas entre un rango de años determinado
para luego mostrar por pantalla una Serie con los datos de las ventas indexadas por año, tanto antes
como después de aplicarles un descuento de 10% (ventas con y sin descuento).

In [5]:


ventas_por_año  = np.array([[2020, 1000, 0.2],[2021, 2000, 0.2],[2022, 3000, 0.2],[2023, 4000, 0.2]])
data = pd.DataFrame(ventas_por_año, columns = ['año','valor','dcto'])
data['valor_dcto'] = data['valor'] - data['valor']*data['dcto']

print(data)
start_date = 0
end_date = 0

print("Ingrese rango de años a visualizar")
print("Año comienzo:")
while(data['año'].min() > start_date or data['año'].max() < start_date):
    start_date = int(input())
    
print("Año termino:")
while(data['año'].max() < end_date or data['año'].min() > end_date):
    end_date = int(input())


filtered_data=data.loc[ (data['año'] >= start_date) & (data['año'] <= end_date) ]

print(filtered_data)

      año   valor  dcto  valor_dcto
0  2020.0  1000.0   0.2       800.0
1  2021.0  2000.0   0.2      1600.0
2  2022.0  3000.0   0.2      2400.0
3  2023.0  4000.0   0.2      3200.0
Ingrese rango de años a visualizar
Año comienzo:
Año termino:
      año   valor  dcto  valor_dcto
0  2020.0  1000.0   0.2       800.0
1  2021.0  2000.0   0.2      1600.0
2  2022.0  3000.0   0.2      2400.0

2. Genere un script que reciba un Diccionario de datos(generado por ud.) con las notas de un certamen
de 5 alumnos diferentes, luego devuelva una Serie con la nota mínima, la máxima y la desviación
típica.

In [6]:
data = pd.Series([2.3,6.5,6.1,3.5,5.7], ["Juan","Jenifer","David","Pablo","Armando"])
print(data)
print()
result = pd.Series([data.min(), data.max(), data.std()], ['Minimo', 'Maximo','desviación típica'])

print(result)

Juan       2.3
Jenifer    6.5
David      6.1
Pablo      3.5
Armando    5.7
dtype: float64

Minimo               2.300000
Maximo               6.500000
desviación típica    1.825377
dtype: float64

3. Genere una función que reciba por parámetro un Diccionario de datos con las notas de 5 alumnos
en un certamen y que devuelva una Serie con las notas de los alumnos aprobados ordenadas de
mayor a menor.

In [7]:
data = data.loc[(data>4)]
print("Alumnos aprobados odenados de mayor a menor")
print(data.sort_values(ascending=False))

Alumnos aprobados odenados de mayor a menor
Jenifer    6.5
David      6.1
Armando    5.7
dtype: float64

4. Genere un script que muestre por pantalla un DataFrame con los datos de la siguiente tabla:

In [9]:
datos = np.array([["Enero", 30500, 22000],["Febrero",35600,23400],["Marzo",28300,18100],["Abril",33900,20700]])
#datos = np.array([[1, 30500, 22000],[2, 35600, 23400],[3, 28300, 18100],[4, 33900, 20700]])
data = pd.DataFrame(datos, columns = ['Mes','Ventas','Gastos'])
print(data)

       Mes Ventas Gastos
0    Enero  30500  22000
1  Febrero  35600  23400
2    Marzo  28300  18100
3    Abril  33900  20700

5. Genere un script que reciba el DataFrame del ejercicio anterior y pregunte al usuario un intervalo de
meses (desde mes x, hasta mes y) en los cuales se hará un balance total (ventas – gastos).

In [10]:
data.Mes.replace(['Enero','Febrero','Marzo','Abril'], [1,2,3,4], inplace=True)
data[['Ventas', 'Gastos']] = data[['Ventas', 'Gastos']].astype(str).astype(int)
print(data)

start_month = 0
end_month = 0

print("Ingrese rango meses a visualizar")
print("Mes comienzo:")
while(data['Mes'].min() > start_month or data['Mes'].max() < start_month):
    start_month = int(input())
    
print("Mes termino:")
while(data['Mes'].max() < end_month or data['Mes'].min() > end_month):
    end_month = int(input())

filtered_data=data.loc[(data['Mes'] >= start_month) & (data['Mes'] <= end_month) ]
filtered_data['Balance'] = filtered_data['Ventas'] - filtered_data['Gastos']
print(filtered_data)

   Mes  Ventas  Gastos
0    1   30500   22000
1    2   35600   23400
2    3   28300   18100
3    4   33900   20700
Ingrese rango meses a visualizar
Mes comienzo:
Mes termino:
   Mes  Ventas  Gastos  Balance
0    1   30500   22000     8500
1    2   35600   23400    12200
2    3   28300   18100    10200

C:\Users\juani\AppData\Local\Temp\ipykernel_1156\3312713260.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Balance'] = filtered_data['Ventas'] - filtered_data['Gastos']

6. El fichero cotización.csv contiene las cotizaciones de empresas con las siguientes columnas: nombre 
(nombre de la empresa), Final (precio de la acción al cierre de bolsa), Máximo (precio máximo de la 
acción durante la jornada), Mínimo (precio mínimo de la acción durante la jornada), volumen 
(volumen al cierre de la bolsa), Efectivo (capitalización al cierre en miles de euros). Se pide generar 
una función que construya un DataFrame a partir de un fichero con el formato anterior y que 
devuelva otro DataFrame con el mínimo, máximo y la media de cada una de las columnas

In [11]:
data = pd.read_csv(
    "data/cotizacion.csv",
    sep=';',
    usecols = (0,1,2,3,4,5),
    skiprows = 1,
    names = ['Nombre', 'Final', 'Máximo', 'Mínimo', 'Volumen', 'Efectivo'],
    decimal=","
)
data['Volumen'] = data['Volumen'].str.replace(".", "").astype(int)
print(data.head(5))
describe = data.describe()
describe = describe.drop(labels=['count','std','25%','50%','75%'], axis=0)
print()
print(describe)

     Nombre    Final   Máximo   Mínimo  Volumen  Efectivo
0   ACCIONA    95.95    96.75    94.40    84962   8166.11
1  ACERINOX  8668.00  8672.00  8468.00    88599   7633.81
2       ACS    37.28    37.66    37.22   655982  24517.29
3      AENA   167.10   167.50   166.10   133738  22336.10
4   AMADEUS    69.96    70.64    69.56   640476  44795.47

             Final        Máximo        Mínimo       Volumen    Efectivo
mean   2796.768757   3170.113357   3136.510471  4.252279e+06   31767.778
min       1.016500      4.067500      1.016500  1.221000e+03    2343.090
max   19705.000000  19875.000000  19675.000000  3.612969e+07  145765.440

7. El fichero titanic.csv contiene información sobre los pasajeros del Titanic. Se pide generar un script
con los siguientes requisitos:

a) Generar un DataFrame con los datos del fichero

In [12]:
titanic = pd.read_csv(
    "data/titanic.csv",
    sep=',',
    index_col=0
   
)
# print(titanic)

b) Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los
nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las
10 últimas filas

In [13]:
print('Dimensiones:', titanic.shape)
print('Número de elemntos:', titanic.size)
print('Nombres de columnas:', titanic.columns)
print('Nombres de filas:', titanic.index)
print('Tipos de datos:\n', titanic.dtypes)
print('Primeras 10 filas:\n', titanic.head(10))
print('Últimas 10 filas:\n', titanic.tail(10))

Dimensiones: (891, 11)
Número de elemntos: 9801
Nombres de columnas: Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Nombres de filas: Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       882, 883, 884, 885, 886, 887, 888, 889, 890, 891],
      dtype='int64', name='PassengerId', length=891)
Tipos de datos:
 Survived      int64
Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object
Primeras 10 filas:
              Survived  Pclass
PassengerId
1                   0       3  \
2                   1       1
3                   1       3
4                   1       1
5                   0       3
6                   0       3
7                   0       1
8                   0       3
9                   1       3
10                  1       2

                                                          Name     Sex   Age
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0  \
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
6                                             Moran, Mr. James    male   NaN
7                                      McCarthy, Mr. Timothy J    male  54.0
8                               Palsson, Master. Gosta Leonard    male   2.0
9            Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0
10                         Nasser, Mrs. Nicholas (Adele Achem)  female  14.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
6                0      0            330877   8.4583   NaN        Q
7                0      0             17463  51.8625   E46        S
8                3      1            349909  21.0750   NaN        S
9                0      2            347742  11.1333   NaN        S
10               1      0            237736  30.0708   NaN        C
Últimas 10 filas:
              Survived  Pclass                                      Name
PassengerId
882                 0       3                        Markun, Mr. Johann  \
883                 0       3              Dahlberg, Miss. Gerda Ulrika
884                 0       2             Banfield, Mr. Frederick James
885                 0       3                    Sutehall, Mr. Henry Jr
886                 0       3      Rice, Mrs. William (Margaret Norton)
887                 0       2                     Montvila, Rev. Juozas
888                 1       1              Graham, Miss. Margaret Edith
889                 0       3  Johnston, Miss. Catherine Helen "Carrie"
890                 1       1                     Behr, Mr. Karl Howell
891                 0       3                       Dooley, Mr. Patrick

                Sex   Age  SibSp  Parch            Ticket     Fare Cabin
PassengerId
882            male  33.0      0      0            349257   7.8958   NaN  \
883          female  22.0      0      0              7552  10.5167   NaN
884            male  28.0      0      0  C.A./SOTON 34068  10.5000   NaN
885            male  25.0      0      0   SOTON/OQ 392076   7.0500   NaN
886          female  39.0      0      5            382652  29.1250   NaN
887            male  27.0      0      0            211536  13.0000   NaN
888          female  19.0      0      0            112053  30.0000   B42
889          female   NaN      1      2        W./C. 6607  23.4500   NaN
890            male  26.0      0      0            111369  30.0000  C148
891            male  32.0      0      0            370376   7.7500   NaN

            Embarked
PassengerId
882                S
883                S
884                S
885                S
886                Q
887                S
888                S
889                S
890                C
891                Q

c) Mostrar por pantalla los datos del pasajero con identificador 148.

In [14]:
print(titanic.loc[148])

Survived                                   0
Pclass                                     3
Name        Ford, Miss. Robina Maggie "Ruby"
Sex                                   female
Age                                      9.0
SibSp                                      2
Parch                                      2
Ticket                            W./C. 6608
Fare                                  34.375
Cabin                                    NaN
Embarked                                   S
Name: 148, dtype: object

d) Mostrar por pantalla las filas pares del DataFrame.

In [15]:
print(titanic.iloc[range(0,titanic.shape[0],2)])

             Survived  Pclass
PassengerId
1                   0       3  \
3                   1       3
5                   0       3
7                   0       1
9                   1       3
...               ...     ...
883                 0       3
885                 0       3
887                 0       2
889                 0       3
891                 0       3

                                                          Name     Sex   Age
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0  \
3                                       Heikkinen, Miss. Laina  female  26.0
5                                     Allen, Mr. William Henry    male  35.0
7                                      McCarthy, Mr. Timothy J    male  54.0
9            Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0
...                                                        ...     ...   ...
883                               Dahlberg, Miss. Gerda Ulrika  female  22.0
885                                     Sutehall, Mr. Henry Jr    male  25.0
887                                      Montvila, Rev. Juozas    male  27.0
889                   Johnston, Miss. Catherine Helen "Carrie"  female   NaN
891                                        Dooley, Mr. Patrick    male  32.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
3                0      0  STON/O2. 3101282   7.9250   NaN        S
5                0      0            373450   8.0500   NaN        S
7                0      0             17463  51.8625   E46        S
9                0      2            347742  11.1333   NaN        S
...            ...    ...               ...      ...   ...      ...
883              0      0              7552  10.5167   NaN        S
885              0      0   SOTON/OQ 392076   7.0500   NaN        S
887              0      0            211536  13.0000   NaN        S
889              1      2        W./C. 6607  23.4500   NaN        S
891              0      0            370376   7.7500   NaN        Q

[446 rows x 11 columns]

e) Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas
alfabéticamente.

In [16]:
print(titanic[titanic["Pclass"]==1]['Name'].sort_values())

PassengerId
731                      Allen, Miss. Elisabeth Walton
306                     Allison, Master. Hudson Trevor
298                       Allison, Miss. Helen Loraine
499    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
461                                Anderson, Mr. Harry
                            ...
156                        Williams, Mr. Charles Duane
352             Williams-Lambert, Mr. Fletcher Fellows
56                                   Woolner, Mr. Hugh
556                                 Wright, Mr. George
326                           Young, Miss. Marie Grice
Name: Name, Length: 216, dtype: object

f) Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.

In [17]:
print(titanic['Survived'].value_counts()/titanic['Survived'].count() * 100)

Survived
0    61.616162
1    38.383838
Name: count, dtype: float64

g) Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.

In [18]:
print(titanic.groupby('Pclass')['Survived'].value_counts(normalize=True))

Pclass  Survived
1       1           0.629630
        0           0.370370
2       0           0.527174
        1           0.472826
3       0           0.757637
        1           0.242363
Name: proportion, dtype: float64

h) Eliminar del DataFrame los pasajeros con edad desconocida.

In [19]:
titanic.dropna(subset=['Age'])

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

i) Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.

In [20]:
print(titanic.groupby(['Pclass','Sex'])['Age'].mean().unstack()['female'])

Pclass
1    34.611765
2    28.722973
3    21.750000
Name: female, dtype: float64

j) Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.

In [21]:
titanic['Young'] = titanic['Age'] < 18

k) Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada
clase.

In [22]:
print(titanic.groupby(['Pclass', 'Young'])['Survived'].value_counts(normalize = True) * 100)

Pclass  Young  Survived
1       False  1           61.274510
               0           38.725490
        True   1           91.666667
               0            8.333333
2       False  0           59.006211
               1           40.993789
        True   1           91.304348
               0            8.695652
3       False  0           78.208232
               1           21.791768
        True   0           62.820513
               1           37.179487
Name: proportion, dtype: float64

8. Los ficheros emisiones-2016.csv, emisiones-2017.csv, emisiones-2018.csv y emisiones-2019.csv,
contienen datos sobre las emisiones contaminates en la ciudad de Madrid en los años 2016, 2017,
2018 y 2019 respectivamente. Escribir un programa con los siguientes requisitos:

a) Generar un DataFrame con los datos de los cuatro ficheros.

In [25]:
emisiones_2016 = pd.read_csv('data/emisiones-2016.csv', sep = ';')
emisiones_2017 = pd.read_csv('data/emisiones-2017.csv', sep = ';')
emisiones_2018 = pd.read_csv('data/emisiones-2018.csv', sep = ';')
emisiones_2019 = pd.read_csv('data/emisiones-2019.csv', sep = ';')
emisiones = pd.concat([emisiones_2016, emisiones_2017, emisiones_2018, emisiones_2019])
emisiones

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,4,1,28079004_1_38,2016,1,8.0,V,7.0,...,9.0,V,7.0,V,8.0,V,9.0,V,9.0,V
1,28,79,4,1,28079004_1_38,2016,2,12.0,V,13.0,...,7.0,V,8.0,V,9.0,V,0.0,N,0.0,N
2,28,79,4,1,28079004_1_38,2016,3,11.0,V,10.0,...,8.0,V,7.0,V,8.0,V,10.0,V,8.0,V
3,28,79,4,1,28079004_1_38,2016,4,8.0,V,9.0,...,9.0,V,8.0,V,8.0,V,8.0,V,0.0,N
4,28,79,4,1,28079004_1_38,2016,5,7.0,V,8.0,...,7.0,V,7.0,V,7.0,V,7.0,V,7.0,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,28,79,60,14,28079060_14_6,2019,8,94.0,V,104.0,...,88.0,V,90.0,V,99.0,V,108.0,V,98.0,V
1832,28,79,60,14,28079060_14_6,2019,9,88.0,V,82.0,...,54.0,V,68.0,V,70.0,V,55.0,V,0.0,N
1833,28,79,60,14,28079060_14_6,2019,10,44.0,V,75.0,...,28.0,V,33.0,V,16.0,V,19.0,V,47.0,V
1834,28,79,60,14,28079060_14_6,2019,11,41.0,V,55.0,...,55.0,V,52.0,V,47.0,V,56.0,V,0.0,N
1835,28,79,60,14,28079060_14_6,2019,12,47.0,V,53.0,...,17.0,V,13.0,V,14.0,V,5.0,V,4.0,V

b) Filtrar las columnas del DataFrame para quedarse con las columnas ESTACION, MAGNITUD,
AÑO, MES y las correspondientes a los días D01, D02, etc.

In [27]:
columnas = ['ESTACION', 'MAGNITUD', 'ANO', 'MES']
columnas.extend([col for col in emisiones if col.startswith('D')])
emisiones = emisiones[columnas]
emisiones

,ESTACION,MAGNITUD,ANO,MES,D01,D02,D03,D04,D05,D06,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
0,4,1,2016,1,8.0,7.0,6.0,6.0,7.0,6.0,...,10.0,11.0,11.0,13.0,12.0,9.0,7.0,8.0,9.0,9.0
1,4,1,2016,2,12.0,13.0,9.0,9.0,11.0,9.0,...,11.0,10.0,9.0,8.0,7.0,7.0,8.0,9.0,0.0,0.0
2,4,1,2016,3,11.0,10.0,9.0,9.0,7.0,8.0,...,8.0,8.0,9.0,9.0,9.0,8.0,7.0,8.0,10.0,8.0
3,4,1,2016,4,8.0,9.0,9.0,8.0,8.0,9.0,...,8.0,8.0,8.0,8.0,9.0,9.0,8.0,8.0,8.0,0.0
4,4,1,2016,5,7.0,8.0,9.0,9.0,8.0,8.0,...,7.0,7.0,8.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,60,14,2019,8,94.0,104.0,106.0,99.0,77.0,82.0,...,86.0,97.0,104.0,96.0,85.0,88.0,90.0,99.0,108.0,98.0
1832,60,14,2019,9,88.0,82.0,80.0,92.0,79.0,75.0,...,59.0,46.0,49.0,69.0,57.0,54.0,68.0,70.0,55.0,0.0
1833,60,14,2019,10,44.0,75.0,44.0,54.0,65.0,68.0,...,37.0,39.0,45.0,21.0,23.0,28.0,33.0,16.0,19.0,47.0
1834,60,14,2019,11,41.0,55.0,79.0,65.0,64.0,51.0,...,38.0,75.0,69.0,45.0,35.0,55.0,52.0,47.0,56.0,0.0
1835,60,14,2019,12,47.0,53.0,45.0,44.0,49.0,41.0,...,68.0,36.0,9.0,11.0,10.0,17.0,13.0,14.0,5.0,4.0

c) Reestructurar el DataFrame para que los valores de los contaminantes de las columnas de los
días aparezcan en una única columna.

In [28]:
emisiones = emisiones.melt(id_vars=['ESTACION', 'MAGNITUD', 'ANO', 'MES'], var_name='DIA', value_name='VALOR')
emisiones

        ESTACION  MAGNITUD   ANO  MES  DIA  VALOR
0              4         1  2016    1  D01    8.0
1              4         1  2016    2  D01   12.0
2              4         1  2016    3  D01   11.0
3              4         1  2016    4  D01    8.0
4              4         1  2016    5  D01    7.0
...          ...       ...   ...  ...  ...    ...
225241        60        14  2019    8  D31   98.0
225242        60        14  2019    9  D31    0.0
225243        60        14  2019   10  D31   47.0
225244        60        14  2019   11  D31    0.0
225245        60        14  2019   12  D31    4.0

[225246 rows x 6 columns]

d) Añadir una columna con la fecha a partir de la concatenación del año, el mes y el día (usar el
módulo datetime).

In [29]:
emisiones['DIA'] = emisiones.DIA.str.strip('D')

emisiones['FECHA'] = emisiones.ANO.apply(str) + '/' + emisiones.MES.apply(str) + '/' + emisiones.DIA.apply(str)

emisiones['FECHA'] = pd.to_datetime(emisiones.FECHA, format='%Y/%m/%d', infer_datetime_format=True, errors='coerce')
emisiones

C:\Users\juani\AppData\Local\Temp\ipykernel_1156\722264159.py:5: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  emisiones['FECHA'] = pd.to_datetime(emisiones.FECHA, format='%Y/%m/%d', infer_datetime_format=True, errors='coerce')

        ESTACION  MAGNITUD   ANO  MES DIA  VALOR      FECHA
0              4         1  2016    1  01    8.0 2016-01-01
1              4         1  2016    2  01   12.0 2016-02-01
2              4         1  2016    3  01   11.0 2016-03-01
3              4         1  2016    4  01    8.0 2016-04-01
4              4         1  2016    5  01    7.0 2016-05-01
...          ...       ...   ...  ...  ..    ...        ...
225241        60        14  2019    8  31   98.0 2019-08-31
225242        60        14  2019    9  31    0.0        NaT
225243        60        14  2019   10  31   47.0 2019-10-31
225244        60        14  2019   11  31    0.0        NaT
225245        60        14  2019   12  31    4.0 2019-12-31

[225246 rows x 7 columns]

e) Eliminar las filas con fechas no válidas (utilizar la función isnat del módulo numpy) y ordenar el
DataFrame por estaciones, contaminantes y fecha.

In [30]:
emisiones = emisiones.drop(emisiones[np.isnat(emisiones.FECHA)].index)

emisiones.sort_values(['ESTACION', 'MAGNITUD', 'FECHA'])

        ESTACION  MAGNITUD   ANO  MES DIA  VALOR      FECHA
0              4         1  2016    1  01    8.0 2016-01-01
7266           4         1  2016    1  02    7.0 2016-01-02
14532          4         1  2016    1  03    6.0 2016-01-03
21798          4         1  2016    1  04    6.0 2016-01-04
29064          4         1  2016    1  05    7.0 2016-01-05
...          ...       ...   ...  ...  ..    ...        ...
196181        60        14  2019   12  27   17.0 2019-12-27
203447        60        14  2019   12  28   13.0 2019-12-28
210713        60        14  2019   12  29   14.0 2019-12-29
217979        60        14  2019   12  30    5.0 2019-12-30
225245        60        14  2019   12  31    4.0 2019-12-31

[221158 rows x 7 columns]

f) Mostrar por pantalla las estaciones y los contaminantes disponibles en el DataFrame.

In [31]:
# Mostrar las estaciones disponibles
print('Estaciones:', emisiones.ESTACION.unique())
# Mostrar los contaminantes disponibles
print('Contaminantes:', emisiones.MAGNITUD.unique())

Estaciones: [ 4  8 11 16 17 18 24 27 35 36 38 39 40 47 48 49 50 54 55 56 57 58 59 60]
Contaminantes: [ 1  6  7  8 12  9 10 14 20 30 35 42 43 44]

g) Crear una función que reciba una estación, un contaminante y un rango de fechas y devuelva
una serie con las emisiones del contaminante dado en la estación y rango de fechas dado.

In [32]:
def evolucion(estacion, contaminante, desde, hasta):
    return emisiones[(emisiones.ESTACION == estacion) & (emisiones.MAGNITUD == contaminante) & (emisiones.FECHA >= desde) & (emisiones.FECHA <= hasta)].sort_values('FECHA').VALOR
evolucion(56, 8, dt.datetime.strptime('2018/10/25', '%Y/%m/%d'), dt.datetime.strptime('2019/02/12', '%Y/%m/%d'))

179559    89.0
186825    87.0
194091    46.0
201357    38.0
208623    29.0
          ...
57841     82.0
65107     64.0
72373     26.0
79639     59.0
86905     71.0
Name: VALOR, Length: 111, dtype: float64

h) Mostrar un resumen descriptivo (mínimo, máximo, media, etc.) para cada contaminante.

In [33]:
emisiones.groupby('MAGNITUD').VALOR.describe()

            count       mean         std   min    25%    50%    75%       max
MAGNITUD
1         14610.0   7.428953    7.012504  0.00   4.00   7.00  10.00    610.00
6         14610.0   0.350233    0.215935  0.00   0.20   0.30   0.40     14.90
7         35064.0  20.446412  135.123509  0.00   4.00   9.00  23.00  24742.00
8         35064.0  37.677618   20.118050  0.00  22.00  35.00  50.00    148.00
9          8948.0  10.087729   10.643591  0.00   6.00   9.00  13.00    850.00
10        17897.0  18.772923   35.723619  0.00  10.00  16.00  24.00   4481.00
12        35064.0  67.959417   61.443940  0.00  29.00  48.00  84.00   1005.00
14        20454.0  49.941772   24.753120  0.00  31.00  52.00  69.00    336.00
20         8766.0   2.364944    4.236706  0.00   0.80   1.60   2.80    195.00
30         8766.0   0.531371    0.538180  0.00   0.20   0.40   0.70     15.10
35         8766.0   0.479751    1.183618  0.00   0.10   0.20   0.50     35.70
42         4383.0   1.400897    0.251836 -0.01   1.25   1.38   1.54      3.09
43         4383.0   1.292923    0.230898 -0.14   1.17   1.28   1.43      2.77
44         4383.0   0.108941    0.068776  0.00   0.06   0.10   0.14      1.31

i) Mostrar un resumen descriptivo para cada contaminante por distritos.

In [34]:
emisiones.groupby(['ESTACION', 'MAGNITUD']).VALOR.describe()

                    count       mean        std  min   25%   50%    75%    max
ESTACION MAGNITUD
4        1         1461.0   7.329911  16.379050  1.0   4.0   7.0    9.0  610.0
         6         1461.0   0.411499   0.172902  0.1   0.3   0.4    0.5    1.3
         7         1461.0  31.939767  37.667968  0.0   8.0  16.0   42.0  239.0
         8         1461.0  44.398357  17.766063  0.0  31.0  43.0   55.0  105.0
         12        1461.0  93.341547  72.436531  0.0  44.0  69.0  119.0  467.0
...                   ...        ...        ...  ...   ...   ...    ...    ...
60       7         1461.0  12.326489  19.593109  1.0   2.0   4.0   12.0  151.0
         8         1461.0  31.125941  18.101896  3.0  18.0  27.0   41.0  101.0
         10        1461.0  17.033539  12.205022  1.0   9.0  14.0   21.0  215.0
         12        1461.0  50.023956  45.933843  6.0  22.0  33.0   60.0  328.0
         14        1461.0  60.718001  26.309952  4.0  42.0  65.0   81.0  119.0

[153 rows x 8 columns]

j) Crear una función que reciba una estación y un contaminante y devuelva un resumen
descriptivo de las emisiones del contaminante indicado en la estación indicada.

In [35]:
def resumen(estacion, contaminante):
    return emisiones[(emisiones.ESTACION == estacion) & (emisiones.MAGNITUD == contaminante)].VALOR.describe()

print('Resumen Dióxido de Nitrógeno en Plaza Elíptica:\n', resumen(56, 8),'\n', sep='')

print('Resumen Dióxido de Nitrógeno en Plaza del Carmen:\n', resumen(35, 8), sep='')

Resumen Dióxido de Nitrógeno en Plaza Elíptica:
count    1461.000000
mean       55.113621
std        21.911483
min         0.000000
25%        39.000000
50%        53.000000
75%        69.000000
max       142.000000
Name: VALOR, dtype: float64

Resumen Dióxido de Nitrógeno en Plaza del Carmen:
count    1461.000000
mean       43.260096
std        16.384656
min         0.000000
25%        32.000000
50%        43.000000
75%        54.000000
max        96.000000
Name: VALOR, dtype: float64

k) Crear una función que devuelva las emisiones medias mensuales de un contaminante y un año
dados para todas las estaciones.

In [36]:
def evolucion_mensual(contaminante, año):
    return emisiones[(emisiones.MAGNITUD == contaminante) & (emisiones.ANO == año)].groupby(['ESTACION', 'MES']).VALOR.mean().unstack('MES')

evolucion_mensual(8, 2019)

MES,1,2,3,4,5,6,7,8,9,10,11,12
ESTACION,,,,,,,,,,,,
4,61.129032,62.000000,44.677419,36.033333,33.451613,36.700000,36.838710,34.064516,35.400000,33.451613,21.800000,40.806452
8,74.516129,77.071429,57.064516,48.466667,43.032258,41.933333,36.387097,24.612903,45.233333,55.000000,42.033333,49.870968
11,58.516129,59.571429,37.709677,32.066667,26.064516,31.733333,33.451613,28.322581,36.966667,48.451613,31.800000,47.612903
16,54.387097,56.892857,35.451613,27.933333,20.354839,24.666667,25.258065,24.548387,31.266667,41.935484,29.500000,40.677419
17,65.967742,70.142857,43.161290,29.400000,22.548387,25.133333,27.161290,29.322581,36.933333,47.774194,30.566667,44.516129
18,55.161290,54.821429,35.645161,24.300000,19.967742,21.033333,22.322581,23.419355,25.833333,41.225806,25.400000,39.193548
24,37.516129,38.464286,21.645161,13.100000,10.806452,12.000000,13.322581,13.903226,20.600000,27.000000,12.166667,26.258065
27,47.580645,48.214286,35.709677,27.566667,22.903226,26.233333,27.032258,31.677419,35.966667,49.000000,30.133333,45.774194
35,54.548387,51.857143,31.903226,21.700000,22.548387,26.033333,35.322581,33.096774,37.533333,45.193548,30.133333,41.483871
36,58.870968,58.678571,37.645161,29.333333,21.354839,24.800000,25.677419,25.935484,31.500000,43.838710,32.300000,43.354839
38,62.193548,59.357143,38.032258,29.333333,25.935484,25.366667,22.096774,21.161290,37.033333,47.064516,29.200000,45.870968
39,63.354839,62.214286,37.483871,25.566667,19.483871,25.200000,25.483871,24.870968,30.466667,47.290323,27.133333,42.774194
40,58.967742,57.357143,36.387097,28.433333,21.967742,24.033333,26.419355,26.548387,34.733333,44.580645,30.966667,41.709677
47,53.548387,52.571429,36.322581,23.600000,21.354839,18.966667,23.903226,26.806452,33.666667,43.645161,26.733333,39.193548
48,55.709677,57.178571,34.677419,26.466667,17.967742,24.633333,24.903226,20.870968,27.333333,43.967742,33.666667,43.000000
49,45.580645,42.035714,25.870968,17.366667,14.354839,13.900000,16.129032,16.322581,19.433333,31.838710,22.200000,33.935484
50,57.741935,56.214286,36.741935,32.466667,24.000000,30.233333,28.967742,26.258065,32.233333,44.709677,31.766667,41.709677
54,60.774194,59.321429,38.354839,27.900000,24.645161,22.066667,23.806452,26.225806,34.266667,46.967742,32.900000,45.967742
55,63.548387,61.750000,44.161290,31.233333,25.419355,26.633333,26.064516,28.225806,32.833333,45.000000,27.833333,44.064516
56,77.483871,82.428571,61.064516,46.900000,44.032258,41.100000,45.838710,44.580645,52.100000,57.225806,35.133333,51.903226
57,53.967742,52.321429,31.290323,25.000000,17.354839,20.766667,21.903226,21.677419,25.900000,37.806452,26.000000,38.193548
58,24.774194,24.071429,15.483871,11.166667,9.483871,12.266667,12.322581,12.935484,15.433333,21.645161,11.900000,18.935484
59,39.064516,40.964286,25.322581,19.666667,13.741935,16.833333,14.225806,14.774194,22.866667,35.290323,23.400000,32.387097
60,42.032258,44.750000,25.129032,21.033333,14.580645,18.233333,22.000000,16.096774,19.466667,20.806452,15.733333,42.870968

l) Crear una función que reciba una estación de medición y devuelva un DataFrame con las
medias mensuales de los distintos tipos de contaminantes.

In [37]:
def evolucion_mensual(estacion):
    return emisiones[(emisiones.ESTACION == estacion)].groupby(['ESTACION', 'MES']).VALOR.mean().unstack('MES')

evolucion_mensual(35)

MES,1,2,3,4,5,6,7,8,9,10,11,12
ESTACION,,,,,,,,,,,,
35,41.794489,35.247493,28.270027,26.250556,26.405511,26.904167,28.880376,26.938978,29.6,36.373925,36.644167,38.018817