In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [59]:
url_data = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-01-2021.csv'
data_csv = pd.read_csv(url_data)




data_csv.columns

Index(['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key', 'Incident_Rate', 'Case_Fatality_Ratio'],
      dtype='object')

In [ ]:

day = str(input())
month = str(input())
year = str(input())
date = day+'-'+month+'-'+ year
url_data = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/'+date+'.csv'
data_csv = pd.read_csv(url_data)
data_csv.head()

In [66]:
# url_data = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-01-2021.csv'
# data_csv1 = pd.read_csv(url_data)

# url_data = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-02-2021.csv'
# data_csv2 = pd.read_csv(url_data)

# data = pd.concat([data_csv1, data_csv2], join = "inner")
# data.shape

data = pd.DataFrame(columns=['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key', 'Incident_Rate', 'Case_Fatality_Ratio'])

for i in range(1,3): 
    url_data = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/0'+str(i)+'-01-2021.csv'
    data_csv = pd.read_csv(url_data)
    data= pd.concat([data, data_csv], join = "inner")
    print(url_data)
data

https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-01-2021.csv
https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-01-2021.csv

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-02 05:22:33,33.93911,67.709953,52513,2201,41727,8585,Afghanistan,134.896578,4.191343
1,NaN,NaN,NaN,Albania,2021-01-02 05:22:33,41.15330,20.168300,58316,1181,33634,23501,Albania,2026.409062,2.025173
2,NaN,NaN,NaN,Algeria,2021-01-02 05:22:33,28.03390,1.659600,99897,2762,67395,29740,Algeria,227.809861,2.764848
3,NaN,NaN,NaN,Andorra,2021-01-02 05:22:33,42.50630,1.521800,8117,84,7463,570,Andorra,10505.403482,1.034865
4,NaN,NaN,NaN,Angola,2021-01-02 05:22:33,-11.20270,17.873900,17568,405,11146,6017,Angola,53.452981,2.305328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4009,NaN,NaN,Unknown,Ukraine,2021-02-02 05:22:49,NaN,NaN,0,0,0,0,"Unknown, Ukraine",0.000000,0.000000
4010,NaN,NaN,NaN,Nauru,2021-02-02 05:22:49,-0.52280,166.931500,0,0,0,0,Nauru,0.000000,0.000000
4011,NaN,NaN,Niue,New Zealand,2021-02-02 05:22:49,-19.05440,-169.867200,0,0,0,0,"Niue, New Zealand",0.000000,0.000000
4012,NaN,NaN,NaN,Tuvalu,2021-02-02 05:22:49,-7.10950,177.649300,0,0,0,0,Tuvalu,0.000000,0.000000
4013,NaN,NaN,Pitcairn Islands,United Kingdom,2021-02-02 05:22:49,-24.37680,-128.324200,0,0,0,0,"Pitcairn Islands, United Kingdom",0.000000,0.000000